.container {
    height: 400px;
    overflow: auto;
    padding-top: 20px;

    table {
        width: 100%;
    }

    .search-account {
        min-width: 150px;
        max-width: 500px;
        width: 100%;

        .account-field {
            width: 100%;
        }
    }

    .history {
        padding-top: 20px;
    }

    p {
        padding-top: 20px;
        text-align: center;
        font-size: xx-large;
    }
    
}
  
