.deposit {
    padding-top: 20px;
    width: 100%;

    .account-name,
    .deposit-amount {
        min-width: 150px;
        max-width: 500px;
        width: 100%;
    }

    .deposit-amount {
        margin-left: 10px;
    }
    .btn-searchAccount {
        margin-left: 10px;
    }
}