<div class="withdraw">
    <form [formGroup]="withdrawAccountForm" (ngSubmit)="withdrawAmount(withdrawAccountForm.value)">
        <mat-form-field class="account-name" appearance="fill">
            <mat-label>{{'withdrawalAccount.form.account.label' | translate}}</mat-label>
            <input matInput type="text" formControlName="accountName" placeholder="{{'withdrawalAccount.form.account.placeholder' | translate}}">
            <mat-hint align="end">{{'withdrawalAccount.form.account.inputLength' | translate}}</mat-hint>
            <mat-error *ngIf="hasError('accountName', 'required')">
                <strong>{{'withdrawalAccount.form.account.inputRequired' | translate}}</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="withdraw-amount" appearance="fill">
            <mat-label>{{'withdrawalAccount.form.account.label' | translate}}</mat-label>
            <input matInput type="text" formControlName="amount" placeholder="{{'withdrawalAccount.form.account.label' | translate}}">
            <mat-error *ngIf="hasError('amount', 'required')">
                <strong>{{'withdrawalAccount.form.account.inputRequired' | translate}}</strong>
            </mat-error>
        </mat-form-field>

        <button mat-raised-button class="btn-searchAccount" type="submit" [disabled]="!withdrawAccountForm.valid" color="primary">
            {{'withdrawalAccount.form.button.validate' | translate}}
        </button>
    </form>
</div>