.create-account {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    padding-top: 20px;

    .account-field {
        width: 100%;
    }

    .btn-createAccount {
        height: 30px;
    }
}