<div class="create-account">
    <form [formGroup]="createAccountForm" (ngSubmit)="createAccount(createAccountForm.value.accountName)">
        <mat-form-field class="account-field" appearance="fill">
            <mat-label>{{'createAccount.form.label' | translate}}</mat-label>
            <input matInput type="text" formControlName="accountName" placeholder="{{'createAccount.form.placeholder' | translate}}">
            <mat-hint align="end">{{'createAccount.form.inputLength' | translate}}</mat-hint>
            <mat-error *ngIf="hasError('accountName', 'required')">
                <strong>{{'createAccount.form.inputRequired' | translate}}</strong>
            </mat-error>
        </mat-form-field>

        <button mat-raised-button class="btn-createAccount" type="submit" [disabled]="!createAccountForm.valid" color="primary">
            {{'createAccount.form.button.validate' | translate}}
        </button>
    </form>
</div>